[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
pylint = "*"
autopep8 = "*"
pytest-watch = "*"
pytest = "*"

[packages]
pygame = "*"

[requires]
python_version = "3.7"
